.signInBtn {
  background-image: url(../../res/google.png);
  background-size: cover;
  width: 140px;
  height: 140px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 100px;
  font-weight: 500;
  min-width: 100px;
  min-height: 100px;
  -webkit-tap-highlight-color: transparent;
}
.signInBtn:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .signInBtn {
    width: 25vw;
    height: 25vw;
  }
}
@media (max-width: 531px) {
  .signInBtn {
    width: 30vw;
    height: 30vw;
  }
}
