.loginpage {
  min-height: fit-content;
  height: 100vh;
}

.loginpage-inner {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.loginpage-inner.dark {
  background-color: #212121;
}

.loginpage-title {
  font-size: 50px;
  height: 400px;
  width: 400px;
  border-radius: 18px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginpage-title.dark {
  color: white;
}

.loginpage-card {
  border-radius: 18px;
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
    0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
  background-color: rgb(255, 255, 255);
  width: 500px;
  min-height: 550px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loginpage-card.dark {
  background-color: #333333;
  color: white;
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 13%, 0.9),
    0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

.loginpage-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginpage-card-text {
  margin-top: 30px;
  font-size: 18px;
}

.loginpage-signinbtn {
  margin-top: 30px;
  box-shadow: 0px 0px 2px 0.8px rgb(151, 151, 151);
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
}

.loginpage-footer {
  background-color: rgb(70, 70, 70);
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .loginpage-inner {
    justify-content: none;
  }
  .loginpage-title {
    display: none;
  }
}
@media (max-width: 700px) {
  .loginpage-card {
    justify-content: none;
    align-self: auto;
    margin-top: 35px;
    width: 80vw;
    height: 68vh;
  }
}
