.commentInput {
  display: flex;
  justify-content: space-between;
}

.commentInput__textarea {
  border: none;
  width: 100%;
  resize: none;
  margin: 8px 0px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.commentInput__textarea.dark {
  color: white;
  background-color: #333333;
}

.commentInput__textarea:focus {
  outline: none;
}

.commentInput__btn {
  background-color: white;
  border: none;
  cursor: pointer;
}
.commentInput__btn.dark {
  color: white;
  background-color: #333333;
}

.commentInput__btn:focus {
  outline: none;
}
